<h1>New Sub</h1>

<form action="<%=subs_url(@sub)%>" method="post">

  <%= render 'layouts/auth_token' %>

  <label for="name">Sub Name:</label>
  <input type="text" name="sub[name]" value="" id="name">
  <br>

  <% 5.times do |link_num| %>
    <label for="title">Link <%= link_num + 1 %> Title:</label>
    <input type="text" name="links[<%= link_num %>][title]" id="title" value="">
    <label for="url">Link <%= link_num + 1 %> URL:</label>
    <input type="text" name="links[<%= link_num %>][url]" id="url" value="">
    <br>
  <% end %>

  <input type="submit" value="Submit Sub" >

