<h1><%=@sub.name%></h1>

<ul>
<%@sub.links.each do |link|%>
<li> <%=link.title%> : <%=link.url%> </li>
<%end%>
</ul>


<%= link_to "Edit Sub", edit_sub_url(@sub) %>
<br>
<%= link_to "Create a New Link!", new_sub_link_url(@sub) %>